<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Discs</title>
</head>
<body>

  <div id="app">
    <div class="container">
      <h1 class="mb-10 inl-blk">Albums</h1>
      <div v-if="loading === false" class="albums-container flex border">
        <div class="album flex" v-for="album in albumsList">
          <img class="border" :src="album.poster" :alt="album.title" />
          <h3>{{album.title}}</h3>
          <h4>{{album.author}}</h4>
          <span>{{album.year}}</span>
        </div>
      </div>
      <span v-else>Caricamento in corso...</span>
    </div>
  </div>

  <script src="app.js"></script>

</body>
</html>